---
import "../styles/main.css";
import BgTracker from "../components/bg-tracker.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="//unpkg.com/alpinejs" defer></script>
    <title>Phase Space Look Book!!!!!!!</title>
  </head>
  <body>
    <BgTracker />
    <h1 class="text-3xl fixed top-4 left-4 z-10">
      Phase Space Look Book!!!!!!!
    </h1>
  </body>
</html>
