---
import "../styles/main.css";
import BgTracker from "../components/bg-tracker.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="//unpkg.com/alpinejs" defer></script>
    <title>Phase Space Look Book!!!!!!!</title>
  </head>
  <body>
    <BgTracker />
    <h1 class="text-3xl fixed top-4 left-4 z-10">
      Phase Space Look Book!!!!!!!
    </h1>
  </body>
</html>
